body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

    nav button {
        background-color: #555;
        color: white;
        border: none;
        padding: 10px 20px;
        margin: 0 5px;
        cursor: pointer;
    }

        nav button:hover {
            background-color: #777;
        }

main {
    padding: 20px;
    text-align: center;
}

.tab-content {
    display: none;
}

    .tab-content.active {
        display: block;
    }

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
